img {
    height: 100%;
    width: 100%;
}
td {
    height: 200px;
    width: 200px;
    background-color: black;
}
th {
    background-color: navy;
}
h1 {
    color: forestgreen;
}
th, td {
    border: 1px solid grey;
    padding: 0px;
}  
table {
    border-spacing: 30px;
}
h2 {
color: burlywood;
}